*{
    margin: 0;
}
.box{
    background-color: #ff4d4d;
    min-height: 400px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url(../images/dog.jpg);
    background-size: 10%;
    background-repeat:  no-repeat;
    background-position: 100px center;
    /* filter: blur(8px); */
}